<div>
    <h2>Login page using Model Driven Form</h2>
    <form #loginRef="ngForm" (ngSubmit)="CheckUser(loginRef)">
        <label for="">UserName</label>
        <input type="text" name="user" ngModel required><br>
        <label for="">Password</label>
        <input type="password" name="pass" ngModel required><br>
        <input type="submit" value="Submit" [disabled]="!loginRef.valid"><br>
        <input type="reset" value="Reset">
    </form>
    {{loginRef.valid}}
    <br>
    {{msg}}
</div>