<div>
  <h2>Component Communications</h2>
  <!-- Name: <input type="text" #nameRef> <br />
  <input type="button" value="Click Here" (click)="passValue(nameRef)">
  <br>
  Name in parent component is {{pname}}
  <br>
  <input type="button" value="Call Child Function"
   (click)="callChildComponentData()"><br>
   Child Age is {{cAge}}
  <hr>
  <app-child1 [parentName]="pname"></app-child1>
  <hr>

  <app-child2 [stdNames]="studenNames"></app-child2> -->
  <hr>
  <app-child3></app-child3>
  <hr>
  <app-child4></app-child4>
  <hr>

</div>